body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
}

.boardRow {
  display: contents;
}

.tile {
  background-color: white;
  padding: 2rem;
  font-weight: 600;
  min-height: 100px;
  min-width: 100px;
  display: grid;
  place-items: center;
}